@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext');

body {
	padding: 4rem 2rem;
	margin: 0 auto;
	font: 300 15px/19px 'IBM Plex Mono',monospace;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

nav {
	width: 15rem;
	flex: 0 0 auto;
	border-right: 1px solid #ddd;
	margin-right: 3rem;
}

main {
	max-width: 50rem;
	flex: 1 1 0;
}

table,th,td {
	font: inherit;
}

h1,h2,h3,h4,h5,h6 {
	font: inherit;
	padding: 0;
	margin: 0;
}

h1 { font-weight: 700; }
h2 { font-weight: 600; }
h3 { font-weight: 500; }
h4 { font-weight: 400; }
h5 { font-weight: 300; font-style: italic; }
h6 { font-weight: 300; font-style: italic; }

th {
	font-weight: 500;
}
td {
	vertical-align: top;
}
ul,ol {
	white-space:normal;
	margin: 19px 0;
	padding: 0;
}

nav li {
	list-style-type: none;
}

a {
	color: #000;
	text-decoration: underline;
	font-weight: 400;
}

a:visited {
	text-decoration-color: #ddd;
}

input {
	font: inherit;
	border: 1px solid #000;
	padding: 9px 19px;
}

h1.title {
	margin-top: 19px;
	margin-bottom: 18px;
	border-bottom: 1px solid #000;
}
