@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext');

:root {
	--bg: #fff;
	--fg: #000;
	--f2: #ddd;

	/* This is to set the "rem" unit. */
	font-size: 24px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #000;
		--fg: #fff;
		--f2: #666;
	}
}

body {
	padding: 4rem 4vw;
	margin: 0 auto;
	font: 200 19px/24px 'IBM Plex Mono', monospace;
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: center;
	background-color: var(--bg);
	color: var(--fg)
}

nav {
	width: 11rem;
	flex: 0 0 auto;
	border-right: 1px solid var(--f2);
	margin-right: 2rem;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav .icon {
	font-size: 1rem;
	line-height: 1rem;
	width: 1rem;
	text-align: center;
	padding: 1rem;
	display: none;
}

main {
	max-width: 36rem;
	flex: 1 1 0;
	width: 0;
}

@media (max-width: 50rem) {
	:root {
		font-size: 19px;
	}

	body {
		flex-flow: column;
		align-items: stretch;
		font-size: 15px;
		line-height: 19px;
	}

	nav {
		width: auto;
		border-right: none;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
	}

	main {
		width: 100%;
	}

	nav ul,
	nav li {
		margin: 0 !important;
	}

	nav li:not(.home) {
		display: none;
	}

	nav li.home .text {
		display: none;
	}

	nav .icon {
		display: inline-block;
		line-height: 16px;
		padding-left: calc(max(1rem, 4vw));
		/* Vertical alignment hack */
	}

	nav a {
		text-decoration: none;
	}
}

table,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
div {
	padding: 0;
	margin: 1rem 0;
}

h1 {
	margin-block-start: 3rem;
	font-weight: 700;
}

h2 {
	margin-block-start: 2rem;
	font-weight: 600;
}

h3 {
	font-weight: 500;
}

h4 {
	font-weight: 400;
}

h5 {
	font-weight: 300;
	font-style: italic;
}

h6 {
	font-weight: 300;
	font-style: italic;
}

pre,
code {
	font-weight: 300;
	background-color: var(--b2);
}

pre {
	overflow-x: auto;
}

th {
	font-weight: 500;
}

td {
	vertical-align: top;
}

ul,
ol {
	padding: 0;
	padding-inline-start: 1rem;
}

li {
	padding-inline-start: 0.5rem;
}

li:last-child {
	margin-block-end: 1rem;
}

li:first-child {
	margin-block-start: 1rem;
}

strong {
	font-weight: 500;
}

hr {
	border: none;
	border-bottom: 1px solid var(--f2);
	width: 100%;
	margin: 0.5rem auto calc(0.5rem - 1px) auto;
}



nav ul {
	padding-inline-start: 0;
}

nav li.home a {
	font-weight: 700;
}

nav li.category {
	padding-block-start: 2rem;
}

nav li {
	padding-inline-start: 0;
	list-style-type: none;
}

a {
	color: var(--fg);
	font-weight: 400;
	text-decoration: underline;
	text-decoration-color: var(--f2);
}

input {
	font: inherit;
	border: 1px solid var(--fg);
	padding: calc(0.5rem - 1px) 1rem;
}

h1.title {
	margin-top: 0;
	padding-top: 1rem;
	margin-bottom: calc(1rem - 1px);
	border-bottom: 1px solid var(--fg);
	text-align: center;
	position: sticky;
	top: 0;
	background-color: var(--bg);
}