<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li class="home"><a href="/">aravind.rs</a></li>
            {% for category in site.data.index %}
            <li class="category">{{ category.title }}</li>
            {% for page in category.pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            {% endfor %}
        </ul>
    </nav>
    <main>
        <h1 class="title">{{ page.title }}</h1>
        <section>
            {{ content }}
        </section>
    </main>
</body>

</html>