<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href='/'>aravind.rs</a></li>
            <li>&nbsp;</li>
            <li><a href='https://graffy.org'>Graffy</a></li>
            <li><a href='https://aravind.rs/fruitfont/'>FruitFont Editor]</a></li>
            <li><a href='https://github.com/aravindet/react-size-transition'>React Size Transition</a></li>
            <li>&nbsp;</li>
            <li><a href='fluid'>Fluid Layout</a></li>
            <li><a href='smålang'>Smålang</a></li>
            <li><a href='clock'>Boring Clock</a></li>
            <li>&nbsp;</li>
            <li><a href='https://github.com/aravindet'>Github</a></li>
            <li><a href='https://github.com/aravindet/aravindet.github.io/issues/new'>Connect</a></li>
        </ul>
    </nav>
    <main>
        <h1 class="title">{{ page.title }}</h1>
        <section>
            {{ content }}
        </section>
    </main>
</body>

</html>